.popular_courses {
    padding: 120px 0px 0px;
}
.section_gap {
    padding: 30px;
}
.footer-area .footer-bottom {
    margin-top: 0px;
}
.main_menu .navbar .container .collapse .fix_menu{
    float: right;
}